body{
font: 20px  Arial sans-serif;
}


.navbar{
background-color: #B0C4DE;

}
.quem-somos{
background-color: #DCDCDC;
color: black;


}
.margin{
padding-bottom: 50px;
padding-top:10px;

}

.parceiros{
background-color: #5882fa;
color:white;

}
.bg-footer{
background-color: black;
color:white;
}